@model Organisation.CompanyName
<div class="form-group row">
    @Html.LabelledTextBox(model => model.RegisteredName,"Organisation.CompanyName.RegisteredName")
    @Html.LabelledTextBox(model => model.TradingName,"Organisation.CompanyName.TradingName")
</div>
